.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.maindv {
    background-color: #316DC3;
}

.logosdv {
    margin-top: 10px;
    margin-left: 80px;
    width: 250px;
    height: 30px;
}

.quotedv {
    color: white;
    margin-left: 0px;
    margin-top: 9px;
    text-align: center;
    font-size: 15px;
}

.topbtns {
    width: 100px;
    height: 28px;
    margin-top: 12px;
    border-radius: 0;
    color: grey;
    background-color: rgba(255, 255, 255, 0.952);
    font-size: 12px;
}

.saylanilogo {
    width: 200px;
    margin-left: 90px;
}

.navalign {
    margin-left: 230px;
}

@media only screen and (max-width:600px) {
    .imgnav {
        margin-right: 50px;
    }
    .acti {
        margin-right: 50px;
    }
}

@media only screen and (max-width:350px) {
    .logosdv {
        margin-left: 30px;
        margin-right: 120px;
        height: -100px;
        display: flex;
        flex-direction: row;
    }
    .kl {
        display: flex;
        flex-direction: row;
    }
    .fb {
        margin-right: -3px;
    }
    .twt {
        margin-left: -4px;
    }
    .insta {
        margin-left: -55px;
    }
    .yt {
        margin-left: -55px;
    }
    .wa {
        margin-left: -55px;
    }
    .imgnav {
        margin-right: 50px;
    }
    .acti {
        margin-right: 80px;
    }
    .navalign {
        margin-right: 120px;
    }
}

li {
    display: inline-block;
}

.fb-logo {
    width: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 0px;
    bottom: 20px;
    left: -10px;
    right: 0px;
}

.tw-logo {
    width: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 1px;
    bottom: 20px;
    left: 10px;
    right: 0px;
}

.insta-logo {
    width: 17px;
    padding-bottom: 20px;
    position: relative;
    top: 1px;
    bottom: 20px;
    left: 26px;
    right: 0px;
}

.yt-logo {
    width: 15px;
    padding-bottom: 20px;
    position: relative;
    top: 0px;
    bottom: 20px;
    left: 44px;
    right: 0px;
}

.wa-logo {
    width: 18px;
    padding-bottom: 20px;
    position: relative;
    top: 1px;
    bottom: 20px;
    left: 60px;
    right: 0px;
}

***************************************************Navbar1************************************************* .navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: black;
    font-weight: 500;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #316DC3;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 20px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
}

.dropdown-content a:hover {
    background-color: #316DC3;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.acti {
    background-color: #316DC3;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.down {
    transform: rotate(45deg);
}

.right {
    transform: rotate(-45deg);
}

***************************************************Navbar2************************************************* .dropdown2 {
    float: right;
}

.dropdown2 .dropbtn2 {
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 17.5px;
}

.dropdown2-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
}

.dropdown2-content a:hover {
    background-color: #316DC3;
    color: white;
}

.dropdown2:hover .dropdown2-content {
    display: inline;
}

.dropbtn2:hover {
    background-color: #316DC3;
    color: white;
}

.dropdown2:hover .a {
    display: inline;
}

img {
    width: 1360px;
}

@media only screen and (max-width: 600px) {
    img {
        width: 500px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 350px) {
    img {
        width: 350px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 600px) {
    marquee {
        width: 320px;
    }
}

@media only screen and (max-width: 350px) {
    marquee {
        width: 200px;
        margin-left: 30px;
    }
}

.countdv {
    width: 1347px;
    height: 280px;
    margin-left: 1px;
    background-color: rgb(67, 67, 255);
    justify-content: space-around;
}

@media only screen and (max-width:600px) {
    .countdv {
        width: 450.5px;
        height: 1050px;
        margin-left: 15px;
    }
}

@media only screen and (max-width:350px) {
    .countdv {
        width: 300px;
        height: 1050px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
}

.dv4 {
    justify-content: space-around;
    margin-left: 71px;
    margin-right: 71px;
    background-color: whitesmoke;
}

.dv5 {
    justify-content: space-around;
    margin-left: 71px;
    margin-right: 71px;
    background-color: whitesmoke;
    height: 240px;
}

@media only screen and (max-width:600px) {
    .dv4 {
        width: 450.5px;
        height: 800px;
        margin-left: 20px;
    }
    .dv5 {
        width: 450.5px;
        height: 700px;
        margin-left: 20px;
    }
}

@media only screen and (max-width:350px) {
    .dv4 {
        width: 300.5px;
        height: 600px;
        margin-left: 20px;
    }
    .dv5 {
        width: 300.5px;
        height: 600px;
        margin-left: 20px;
    }
}

@media only screen and (max-width:600px) {
    .eventmdv {
        height: 800px;
    }
}

@media only screen and (max-width:350px) {
    .eventmdv {
        height: 800px;
    }
    .eventheadingalign {
        margin-left: 40px;
    }
    .eventheadingstyle {
        font-size: 30px;
    }
    .eventheadingstyle2 {
        font-size: 30px;
        margin-top: 30px;
    }
}

.main3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width:350px) {
    .main3 {
        display: inline;
    }
    .img1 {
        margin-right: 35px;
    }
    .img2 {
        margin-left: 20px;
    }
    .img3 {
        margin-left: 20px;
    }
    .img4 {
        margin-left: 20px;
    }
    .img5 {
        margin-left: 20px;
    }
}

.footermdv {
    height: 400px;
    background-color: rgba(0, 0, 20, 0.822);
}

.footercontacticons {
    width: 15px;
    margin: 10px 10px 10px 9px;
}

.footerglobalicon {
    width: 15px;
}

@media only screen and (max-width:600px) {
    .footermdv {
        height: 700px;
    }
    .footerdv1 {
        width: 400px;
        margin-right: 50px;
    }
    .footerdv2 {
        width: 500px;
        margin-top: 70px;
    }
    .footerdv3 {
        color: white;
        position: relative;
        right: 70px;
        width: 200px;
        margin-top: 70px;
        margin-right: 140px;
    }
    .footercontacticons {
        margin-left: 0px;
    }
    .footerglobalicon {
        margin-left: 0px;
    }
}

@media only screen and (max-width:350px) {
    .footermdv {
        height: 700px;
    }
    .footerdv1 {
        width: 500px;
        margin-right: 50px;
    }
    .footerdv2 {
        width: 500px;
        margin-left: 10px;
    }
    .footerdv3 {
        width: 300px;
        margin-left: 100px;
        margin-top: 50px;
    }
    .fkl {
        display: flex;
        flex-direction: row;
    }
    .footfb {
        margin-right: 0px;
        margin-left: 10px;
    }
    .foottwt {
        margin-top: -25px;
        margin-left: 25px;
    }
    .footinsta {
        margin-bottom: -45px;
        margin-left: 45px;
    }
    .footyt {
        margin-bottom: 90px;
        margin-left: 55px;
    }
    .footercontacticons {
        margin-left: 0px;
    }
    .footerglobalicon {
        margin-right: 20px;
        margin-left: -15px;
    }
}

.crdv {
    background-color: #316DC3;
    color: white;
    font-size: 12px;
    height: 50px;
    padding-left: 110px;
    padding-top: 17px;
    font-weight: 600;
}

@media only screen and (max-width:600px) {
    .crdv {
        padding-left: 10px;
    }
}

@media only screen and (max-width:350px) {
    .crdv {
        padding-left: 10px;
    }
}
